body.error404 {
  .p404_content {
    text-align: center;

    h1 {
      color: #373a3c;
      font-family: Raleway;
      font-size: 42px;
      font-weight: 300;
    }

    a {
      color: #173d2c;
      font-family: Raleway;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      text-decoration: underline !important;
      display: block;
    }
  }
}
